.box{
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    margin: auto;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in;
}
.box:hover{
    transform:translate(400px,400px);
    background-color: aquamarine;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 20px;
}